PORT=8000
MONGODB_URI=mongodb+srv://drs:<your-password>@cluster0.hln1vu8.mongodb.net/?appName=Cluster0
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=your-secret-key
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your-refresh-secret-key
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here